n8n-voice-workflow.json
{
  "name": "Banking Voice AI Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-process",
        "options": {}
      },
      "id": "b3b5e2d0-1234-4567-8910-abcdef123456",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "voice-process"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "apiKey": "YOUR_OPENAI_API_KEY_HERE",
        "model": "whisper-1",
        "language": "en",
        "binaryData": true,
        "binaryPropertyName": "audio",
        "options": {}
      },
      "id": "c4c5e2d0-1234-4567-8910-abcdef123457",
      "name": "OpenAI Audio Transcription",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "apiKey": "YOUR_OPENAI_API_KEY_HERE",
        "model": "gpt-4",
        "messages": {
          "messages": [
            {
              "role": "system",
              "content": "You are a helpful banking assistant AI. Analyze the user's voice request and provide appropriate banking guidance. Be concise, professional, and helpful. If the request is about account balance, transactions, transfers, or other banking operations, provide clear instructions on how to proceed safely. Always remind users to verify their identity through official banking channels for actual transactions."
            },
            {
              "role": "user",
              "content": "={{$node[\"OpenAI Audio Transcription\"].json[\"text\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5d6e2d0-1234-4567-8910-abcdef123458",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"transcript\": \"{{$node[\"OpenAI Audio Transcription\"].json[\"text\"]}}\",\n  \"aiResponse\": \"{{$node[\"OpenAI Chat\"].json[\"choices\"][0][\"message\"][\"content\"]}}\",\n  \"userId\": \"{{$node[\"Webhook\"].json[\"body\"][\"userId\"]}}\",\n  \"timestamp\": \"{{$now}}\",\n  \"processingTime\": \"{{($now - Date.parse($node[\"Webhook\"].json[\"headers\"][\"x-n8n-webhook-request-time\"])) / 1000}}\",\n  \"success\": true\n}",
        "options": {}
      },
      "id": "e6e7e2d0-1234-4567-8910-abcdef123459",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Audio Transcription": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "banking-voice-ai-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}